body{
    background-color: #93BFCF;
}

img{
    border-color: black;
    border-radius: 8px;
    border-style: solid;
    border-width: 5px;
    width: 20%;
    height: auto;

} 

h1{
    color: #024158;
}

h3{
    color: #024158;
}